<div *ngIf="isLoggedIn">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/drink-list">Bartendr</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li [className]="router.url.includes('/drink-list') ? 'nav-item active' : 'nav-item'"><a
            [routerLink]="'/drink-list/'" class="nav-link">Drinks</a></li>
          <li [className]="router.url.includes('/locations') ? 'nav-item active' : 'nav-item'"><a
            [routerLink]="'/locations/'"
            class="nav-link">Locations</a>
          </li>
          <li
            [className]="router.url.includes('/user-form/') && router.url.includes(username) ? 'nav-item active' : 'nav-item'">
            <a
              [routerLink]="'/user-form/' + username" class="nav-link" style="cursor: pointer">Profile</a>
          </li>
          <li
            [className]="router.url.includes('/drink-form') && !router.url.includes('/drink-form/') ? 'nav-item active' : 'nav-item'">
            <a
              [routerLink]="'/drink-form/'" *ngIf="isAdmin" class="nav-link"
              style="cursor: pointer">Create Drink</a></li>
          <li
            [className]="router.url.includes('/location-form') && !router.url.includes('/location-form/') ? 'nav-item active' : 'nav-item'">
            <a
              [routerLink]="'/location-form/'" *ngIf="isAdmin" class="nav-link"
              style="cursor: pointer">Create
              Location</a></li>
          <li
            [className]="router.url.includes('/user-form') && !router.url.includes('/user-form/') ? 'nav-item active' : 'nav-item'">
            <a
              [routerLink]="'/user-form/'" *ngIf="isAdmin" class="nav-link"
              style="cursor: pointer">Create User</a></li>
          <li [className]="router.url.includes('/user-list') ? 'nav-item active' : 'nav-item'"><a *ngIf="isAdmin"
                                                                                                  [routerLink]="'/user-list'"
                                                                                                  class="nav-link">User
            List</a></li>
          <li class="nav-item"><a (click)="logout()" *ngIf="isLoggedIn" class="nav-link"
                                  style="cursor: pointer">Logout</a></li>
          <li class="nav-item"><a class="nav-link disabled">Signed in as: {{username}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
