<div *ngIf="isLoggedIn">
  <nav>
    <div>
      <div>
        <button [routerLink]="'/drink-list/'">Drinks</button> |
        <button [routerLink]="'/locations/'">Locations</button> |
        <button (click)="navigateToProfile()">Profile</button> |
        <button *ngIf="isAdmin" (click)="navigateCreateDrink()">Create Drink</button> |
        <button *ngIf="isAdmin" (click)="navigateCreateLocation()">Create Location</button> |
        <button *ngIf="isAdmin" (click)="navigateCreateUser()">Create User</button> |
        <button *ngIf="isAdmin" [routerLink]="'/user-list'">User List</button>
        <button id="logoutButton" type="button" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
        <label for="logoutButton">Signed in as: {{username}}</label>
      </div>
    </div>
  </nav>
</div>
