<form (ngSubmit)="saveDrink()" [formGroup]="drinkForm">
  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="name">Drink name:</label>
        <input class="form-control" formControlName="name" id="name" name="name" type="text"/>
        <div
          *ngIf="drinkForm.controls.name.invalid && (drinkForm.controls.name.dirty || drinkForm.controls.name.touched)"
          class="alert alert-danger">
          <div *ngIf="drinkForm.controls.name.errors.required">
            Name is required.
          </div>
          <div *ngIf="drinkForm.controls.name.errors.minlength">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <label>Age</label>
      <div>
        <input formControlName="age" id="under16" name="age" type="radio"
               value="forAllAges">
        <label for="under16">
          Under 16
        </label>
      </div>
      <div>
        <input formControlName="age" id="16" name="age" type="radio"
               value="atLeast16">
        <label for="16">
          16
        </label>
      </div>
      <div>
        <input formControlName="age" id="18+" name="age" type="radio"
               value="atLeast18">
        <label for="18+">
          18+
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="price">Price:</label>
        <input class="form-control" formControlName="price" id="price" name="price" step="0.01" type="number"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12 mb-3">
      <input class="card card-block card-header" disabled formControlName="category" name="category" type="text">
    </div>
      <div class="dropdown" ngbDropdown placement="bottom-right">
        <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle type="button">
          Category <span class="caret"></span>
        </button>
        <div ngbDropdownMenu>
          <a (click)="setCategory('Beer')" class="dropdown-item">Beer</a>
          <a (click)="setCategory('Wine')" class="dropdown-item">Wine</a>
          <a (click)="setCategory('Vodka')" class="dropdown-item">Vodka</a>
          <a (click)="setCategory('Gin')" class="dropdown-item">Gin</a>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col">
      <label for="rating">Rating:</label>
      <rating [max]="5" formControlName="rating" id="rating" name="rating" type="text"></rating>
    </div>
    <div class="col">
      <label for="locations">Locations:</label>
      <ngx-select [items]="locationOptions" [multiple]="false" formControlName="locationID" id="locations"
                  name="locations" optionTextField="name"></ngx-select>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <app-mediainput formControlName="picture" name="picture"></app-mediainput>
    </div>
  </div>


  <div class="btn-group">
    <button [disabled]="drinkForm.invalid" class="btn btn-primary" type="submit">
      Save
    </button>
    <button (click)="setShouldNavigateToList()" [disabled]="drinkForm.invalid" class="btn btn-primary" type="submit">
      Save and Back
    </button>
  </div>
</form>
