<div class="container">
  <div class="main-content">
    <div class="card">
      <div *ngIf="isAdmin" class="card-body">
        <h3 class="card-title">
          {{drinkForm.value.id ? 'Edit Drink' : 'Create Drink'}}
        </h3>
        <form (ngSubmit)="saveDrink()" [formGroup]="drinkForm">
          <div class="row">
            <div class="col">
              <div [ngClass]="{'has-danger': drinkForm.controls.name.invalid && drinkForm.controls.name.dirty,
                  'has-success': drinkForm.controls.name.valid && drinkForm.controls.name.dirty}" class="form-group">
                <label for="name">Drink name:</label>
                <input autocomplete="off" class="form-control" formControlName="name" id="name" name="name"
                       type="text"/>
                <div>
                  <div
                    *ngIf="drinkForm.controls.name.invalid && (drinkForm.controls.name.dirty || drinkForm.controls.name.touched)"
                    class="form-control-feedback">
                    <p *ngIf="drinkForm.controls.name.errors.required">
                      Name is required!
                    </p>
                    <p *ngIf="drinkForm.controls.name.errors.minlength">
                      Name must be at least 2 characters long!
                    </p>
                    <p *ngIf="drinkForm.controls.name.errors.maxlength">
                      Name mustn't exceed 25 characters!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div [ngClass]="{'has-danger': drinkForm.controls.price.invalid && drinkForm.controls.price.dirty,
                  'has-success': drinkForm.controls.price.valid && drinkForm.controls.price.dirty}" class="form-group">
                <label for="price">Price:</label>
                <input autocomplete="off" class="form-control" formControlName="price" id="price" max="99999"
                       min="0"
                       name="price"
                       step="0.01"
                       type="number">
                <div>
                  <div
                    *ngIf="drinkForm.controls.price.invalid && (drinkForm.controls.price.dirty || drinkForm.controls.price.touched)"
                    class="form-control-feedback">
                    <p *ngIf="drinkForm.controls.price.errors.required">
                      A price is required!
                    </p>
                    <p *ngIf="drinkForm.controls.price.errors.min">
                      Price can't be negative!
                    </p>
                    <p *ngIf="drinkForm.controls.price.errors.max">
                      Price can't exceed 99999!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="category">Category:</label>
              <div class="dropdown" id="category" ngbDropdown placement="bottom">
                <button [ngClass]="{'btn-danger': drinkForm.controls.category.invalid,
                  'btn-success': drinkForm.controls.category.valid}" class="btn btn-default dropdown-toggle"
                        ngbDropdownToggle
                        style="width: 20rem;" type="button">{{cat ? cat : 'Category'}}
                  <span class="caret"></span></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <div *ngFor="let cat of categories">
                    <a (click)="setCategory(cat)" class="dropdown-item" style="cursor: pointer">{{cat}}</a>
                  </div>
                </div>
              </div>
              <div>
                <div
                  *ngIf="drinkForm.controls.category.invalid" class="form-control-feedback">
                  <p *ngIf="drinkForm.controls.category.errors.required">
                    A category is required!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div [ngClass]="{'has-danger': drinkForm.controls.age.invalid && drinkForm.controls.age.dirty,
                  'has-success': drinkForm.controls.age.valid && drinkForm.controls.age.dirty}" class="form-group">
                <label>Age</label>
                <div>
                  <input formControlName="age" id="under16" name="age" type="radio" value="forAllAges">
                  <label for="under16">
                    0+
                  </label>
                </div>
                <div>
                  <input formControlName="age" id="16" name="age" type="radio" value="atLeast16">
                  <label for="16">
                    16+
                  </label>
                </div>
                <div>
                  <input formControlName="age" id="18+" name="age" type="radio" value="atLeast18">
                  <label for="18+">
                    18+
                  </label>
                  <div
                    *ngIf="drinkForm.controls.age.invalid && (drinkForm.controls.age.dirty || drinkForm.controls.age.touched)"
                    class="form-control-feedback">
                    <p *ngIf="drinkForm.controls.age.errors.required">
                      An age is required!
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="dropdown" id="location" ngbDropdown placement="bottom">
                <button [ngClass]="{'btn-danger': drinkForm.controls.locationID.invalid,
                  'btn-success': drinkForm.controls.locationID.valid}" class="btn btn-default dropdown-toggle"
                        ngbDropdownToggle style="width: 20rem;"
                        type="button">{{loc ? loc.name : 'Location'}}
                  <span
                    class="caret"></span></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <div *ngFor="let loc of locationOptions">
                    <a (click)="setLocation(loc)" class="dropdown-item" style="cursor: pointer">{{loc.name}}</a>
                  </div>
                </div>
              </div>
              <div
                *ngIf="drinkForm.controls.locationID.invalid" class="form-control-feedback">
                <p *ngIf="drinkForm.controls.locationID.errors.required">
                  A location is required!
                </p>
              </div>
            </div>
            <div class="col">
              <label for="rating">Rating:</label>
              <rating [max]="5" formControlName="rating" id="rating" type="number"></rating>
            </div>
          </div>
          <label *ngIf="drinkForm.controls.pictures" for="pictures">Picture:</label>
          <app-mediainput formControlName="pictures" id="pictures"></app-mediainput>
          <div class="row">
            <div class="col">
              <div class="btn-group">
                <button [disabled]="drinkForm.invalid" class="btn btn-primary" type="submit">
                  Save
                </button>
                <button (click)="setShouldNavigateToList()" [disabled]="drinkForm.invalid" class="btn btn-primary"
                        type="submit">
                  Save and Back
                </button>
                <button [routerLink]="'/drink-list/'" class="btn btn-danger" type="button">
                  Back
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="!isAdmin" class="card-body">
        <form [formGroup]="drinkForm">
          <h1 class="card-title">
            {{drinkForm.value.name}}
            <rating [max]="5" formControlName="rating" readonly="true" type="number"></rating>
          </h1>
          <div class="row">
            <div class="col">
              <p class="h6">Category: {{drinkForm.value.category}}</p>
            </div>
            <div class="col">
              <p class="h5">Location: <a *ngIf="loc" [routerLink]="'/location-form/' + loc.id">{{loc ? loc.name : ''}}
              </a></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="h5">Price: {{drinkForm.value.price | currency: 'EUR'}}</p>
            </div>
            <div class="col">
              <div [ngSwitch]="drinkForm.value.age">
                <p *ngSwitchCase="'forAllAges'" class="h5">Suitable for all ages!</p>
                <p *ngSwitchCase="'atLeast16'" class="h5">Suitable for people 16 and up!</p>
                <p *ngSwitchCase="'atLeast18'" class="h5">Suitable for people 18 and up!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <app-mediainput formControlName="pictures" id="pictures2"></app-mediainput>
          </div>
          <button [routerLink]="'/drink-list/'" class="btn btn-primary" type="button">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
