<form (ngSubmit)="saveUser()" [formGroup]="userForm">

  <div *ngIf="isAdmin" class="col">
    <div class="form-group">
      <label for="username"><strong>ID:</strong></label>
      <input [readOnly]="true" class="form-control" formControlName="id" id="id" name="id" type="number"/>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="username"><strong>User Name:</strong></label>
      <input [readOnly]="readOnly" class="form-control" formControlName="username" id="username" name="username"
             type="text"/>
      <div *ngIf="!readOnly">
        <div
          *ngIf="userForm.controls.username.invalid && (userForm.controls.username.dirty || userForm.controls.username.touched)"
          role="alert">
          <div *ngIf="userForm.controls.username.errors.required">
            {{showToastr('User Name is required.', true)}}
          </div>
          <div *ngIf="userForm.controls.username.errors.minlength">
            {{showToastr('User Name must be at least 2 characters long.', true)}}
          </div>
          <div *ngIf="userForm.controls.username.errors.maxLength">
            {{showToastr('User Name must not exceed 35 characters.', true)}}
          </div>
          <div *ngIf="userForm.controls.username.errors.userNameTaken">
            {{showToastr('User Name has already been taken!', true)}}
          </div>
        </div>
        <div *ngIf="userForm.controls.username.valid" role="alert">
          {{showToastr('Your User Name is valid!', false)}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="firstname"><strong>First Name:</strong></label>
      <input class="form-control" formControlName="firstname" id="firstname" name="firstname" type="text"/>
      <div
        *ngIf="userForm.controls.firstname.invalid && (userForm.controls.firstname.dirty || userForm.controls.firstname.touched)"
        role="alert">
        <div *ngIf="userForm.controls.firstname.errors.required">
          {{showToastr('First Name is required.', true)}}
        </div>
        <div *ngIf="userForm.controls.firstname.errors.minlength">
          {{showToastr('First Name must be at least 2 characters long.', true)}}
        </div>
        <div *ngIf="userForm.controls.firstname.errors.maxlength">
          {{showToastr('First Name must not exceed 35 characters.', true)}}
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="lastname"><strong>Last Name:</strong></label>
      <input class="form-control" formControlName="lastname" id="lastname" name="lastname" type="text"/>
      <div
        *ngIf="userForm.controls.lastname.invalid && (userForm.controls.lastname.dirty || userForm.controls.lastname.touched)"
        role="alert">
        <div *ngIf="userForm.controls.lastname.errors.required">
          {{showToastr('Last Name is required.', true)}}
        </div>
        <div *ngIf="userForm.controls.lastname.errors.minlength">
          {{showToastr('Last Name must be at least 2 characters long.', true)}}
        </div>
        <div *ngIf="userForm.controls.lastname.errors.maxlength">
          {{showToastr('Last Name must not exceed 35 characters.', true)}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group">

      <label for="email">
        <strong>Email:</strong><br/>
        <small class="text-muted h6">Only lowercase letters</small>
      </label>
      <input class="form-control" formControlName="email" id="email" name="email" type="email"/>
      <div
        *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)"
        class="alert alert-danger">
        <div *ngIf="userForm.controls.email.errors.required">
          {{showToastr('Email is required.', true)}}
        </div>
        <div *ngIf="userForm.controls.email.errors.minlength">
          {{showToastr('Email must be at least 2 characters long.', true)}}
        </div>
        <div *ngIf="userForm.controls.email.errors.maxlength">
          {{showToastr('Email must not exceed 50 characters.', true)}}
        </div>
        <div *ngIf="userForm.controls.email.errors.pattern">
          {{showToastr('Email does not meet the requirements. Example max.mustermann@mustermail.at', true)}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isAdmin" class="col">
    <bSwitch
      [switch-off-color]="'danger'" [switch-on-color]="'success'" formControlName="admin" id="admin" name="admin">
    </bSwitch>
    <label for="admin">Admin?</label>
  </div>

  <div *ngIf="isAdmin" class="col">
    <bSwitch
      [switch-off-color]="'danger'" [switch-on-color]="'success'" formControlName="active" id="active" name="active">
    </bSwitch>
    <label for="active">Active?</label>
  </div>
  <button (click)="activatePasswordInsert()" *ngIf="readOnly" class="btn btn-primary" id="activatePasswordInsert"
          name="activatePasswordInsert"
          type="button">Activate Password Insert
  </button>

  <div class="col" id="PasswordChange">
    <label *ngIf="readOnly" for="PasswordChange"><strong>Change Password:</strong>
      <small class="text-muted h6">
        <ul>
          <li>At least 5 and maximum 15 characters in length.</li>
          <li>One lowercase letter.</li>
          <li>One uppercase letter.</li>
          <li>One number.</li>
          <li>One special character.</li>
        </ul>
      </small>
    </label>
    <label *ngIf="!readOnly" for="PasswordChange"><strong>Enter Password:</strong>
      <small class="text-muted h6">
        <ul>
          <li>At least 5 and maximum 15 characters in length.</li>
          <li>One lowercase letter.</li>
          <li>One uppercase letter.</li>
          <li>One number.</li>
          <li>One special character.</li>
        </ul>
      </small>
    </label>
    <div class="col">
      <div class="form-group">
        <label for="password">Password:</label>
        <input [readOnly]="readOnly && readonlyPassword" class="form-control" formControlName="password" id="password"
               name="password"
               type="password"/>
        <div *ngIf="!readOnly && !readonlyPassword">
          <div
            *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)"
            role="alert">
            <div *ngIf="userForm.controls.password.errors.required">
              {{showToastr('Password is required.', true)}}
            </div>
            <div *ngIf="userForm.controls.password.errors.minlength">
              {{showToastr('Password must be at least 5 characters long.', true)}}
            </div>
            <div *ngIf="userForm.controls.password.errors.maxLength">
              {{showToastr('Password must not exceed 15 characters.', true)}}
            </div>
            <div *ngIf="userForm.controls.password.errors.pattern">
              {{showToastr('Password does not meed the requirements.', true)}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input [readOnly]="readOnly && readonlyPassword" class="form-control" formControlName="confirm_password"
               id="confirm_password"
               name="confirm_password"
               type="password"/>
        <div *ngIf="!readOnly && !readonlyPassword">
          <div
            *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)"
            role="alert">
            <div *ngIf="userForm.controls.confirm_password.errors.required">
              {{showToastr('Password is required.', true)}}
            </div>
            <div *ngIf="userForm.controls.confirm_password.errors.minlength">
              {{showToastr('Password must be at least 5 characters long.', true)}}
            </div>
            <div *ngIf="userForm.controls.confirm_password.errors.maxLength">
              {{showToastr('Password must not exceed 15 characters.', true)}}
            </div>
            <div *ngIf="!userForm.errors.passwordsMatch && (!readOnly && !readonlyPassword)" role="alert">
              {{showToastr('Passwords do not match!', true)}}
            </div>
            <div
              *ngIf="userForm.errors.passwordsMatch && userForm.controls.password.valid && (!readOnly && !readonlyPassword)"
              role="alert">
              {{showToastr(' Password is valid', false)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group">

    <button *ngIf="isAdmin" [disabled]="(!readOnly && userForm.controls.username.invalid) || userForm.controls.firstname.invalid ||
    userForm.controls.lastname.invalid || userForm.controls.email.invalid || (userForm.controls.password.invalid && !readOnly)"
            class="btn btn-primary" type="submit">
      Save
    </button>
    <button *ngIf="!isAdmin" [disabled]="userForm.controls.firstname.invalid || userForm.controls.lastname.invalid ||
    userForm.controls.email.invalid || (userForm.controls.password.invalid && !readOnly)"
            class="btn btn-primary" type="submit">
      Save
    </button>

    <button (click)="setShouldNavigateToList()" *ngIf="isAdmin" [disabled]="(readOnly === false && userForm.controls.username.invalid) || userForm.controls.firstname.invalid ||
    userForm.controls.lastname.invalid || userForm.controls.email.invalid || (userForm.controls.password.invalid && readOnly === false)"
            class="btn btn-primary"
            type="submit">
      SAVE AND BACK
    </button>
    <button (click)="setShouldNavigateToList()" *ngIf="!isAdmin" [disabled]="userForm.controls.firstname.invalid ||
    userForm.controls.lastname.invalid || userForm.controls.email.invalid || (userForm.controls.password.invalid && readOnly === false)"
            class="btn btn-primary"
            type="submit">
      SAVE AND BACK
    </button>

    <button *ngIf="isAdmin" [routerLink]="'/user-list/'" class="btn btn-primary" type="button">
      Back
    </button>
    <button *ngIf="!isAdmin" [routerLink]="'/drink-list/'" class="btn btn-primary" type="button">
      Back
    </button>
  </div>
</form>
