<form [formGroup]="userForm" (ngSubmit)="saveUser()">

  <div *ngIf="isAdmin" class="col">
    <div class="form-group">
      <label for="username">User name:</label>
      <input [readonly]=true id="id" type="number" name="id" formControlName="id" class="form-control"/>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="username">User name:</label>
      <input [readonly]=true id="username" type="text" name="username" formControlName="username" class="form-control"/>
      <div
        *ngIf="userForm.controls.username.invalid && (userForm.controls.username.dirty || userForm.controls.username.touched)"
        class="alert alert-danger">
        <div *ngIf="userForm.controls.username.errors.required">
          Name is required.
        </div>
        <div *ngIf="userForm.controls.username.errors.minlength">
          Name must be at least 2 characters long.
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input id="firstname" type="text" name="firstname" formControlName="firstname" class="form-control"/>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" name="lastname" formControlName="lastname" class="form-control"/>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="email">eMail:</label>
      <input id="email" type="text" name="email" formControlName="email" class="form-control"/>
    </div>
  </div>

  <div id="PasswordChange" class="col">
    <div class="col">
      <div class="form-group">
        <label for="password">Password:</label>
        <input [readonly]=true id="password" type="text" name="password" formControlName="password" validateEqual="confirmPassword" class="form-control"/>
        <div
          *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)"
          class="alert alert-danger">
          <div *ngIf="userForm.controls.password.errors.required">
            Password is required.
          </div>
          <div *ngIf="userForm.controls.password.errors.minlength">
            Password must be at least 5 characters long.
          </div>
          <div *ngIf="userForm.controls.password.errors.maxLength">
            Password must not exceed 10 characters.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input [readonly]=true id="passwordConfirm" type="text" name="passwordConfirm" formControlName="passwordConfirm" validateEqual="password"  class="form-control"/>
      <div
        *ngIf="userForm.controls.confirmPassword.invalid && (userForm.controls.confirmPassword.dirty || userForm.controls.confirmPassword.touched)"
        class="alert alert-danger">
        <div *ngIf="userForm.controls.confirmPassword.errors.required">
          Password is required.
        </div>
        <div *ngIf="userForm.controls.confirmPassword.errors.minlength">
          Password must be at least 5 characters long.
        </div>
        <div *ngIf="userForm.controls.confirmPassword.errors.maxLength">
          Password must not exceed 10 characters.
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isAdmin" class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="admin" id="admin" formControlName="admin"
             [value]="false">
      <label class="form-check-label" for="admin">
        Administrator?
      </label>
    </div>
  </div>

  <div *ngIf="isAdmin" class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="active" id="active" formControlName="active"
             [value]="true">
      <label class="form-check-label" for="active">
        Active?
      </label>
    </div>
  </div>


  <div class="btn-group">
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Save
    </button>
    <button type="submit" (click)="setShouldNavigateToList()" class="btn btn-primary" [disabled]="userForm.invalid">
      Save and Back
    </button>
    <button (click)="changePassword()" class="btn btn-primary">
      Change Password
    </button>
  </div>
</form>
