<div class="container">
  <div class="main-content">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          Drinks
        </h3>
        <div class="row">
          <div class="col">
            <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" datatable id="datatable">
              <thead>
              <tr>
                <th>ID</th>
                <th>Drink Name</th>
                <th>Location</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Required Age</th>
                <th *ngIf="isAdmin">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let drink of drinks">
                <td>{{drink.id}}</td>
                <td><a [routerLink]="'/drink-form/' + drink.id">{{drink.name}}</a></td>
                <td><a [routerLink]="'/location-form/' + drink.locationID">{{locationMap.get(drink.locationID)}}</a>
                </td>
                <td>{{drink.category}}</td>
                <td>{{drink.price}}</td>
                <td>{{drink.rating}}</td>
                <td>{{convertAge(drink.age)}}</td>
                <td *ngIf="isAdmin">
                  <div class="btn-group">
                    <button *ngIf="isAdmin" [routerLink]="'/drink-form/' + drink.id" class="btn btn-warning">Edit
                    </button>
                    <button (click)="deleteDrink(drink)" *ngIf="isAdmin" class="btn btn-danger">Delete</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
