<table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Drink Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Required Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let drink of drinks ">
    <td>{{ drink.id }}</td>
    <td>{{ drink.name }}</td>
    <td>{{ drink.category }}</td>
    <td>{{ drink.price }}</td>
    <td>{{ drink.rating }}</td>
    <td>{{ drink.age }}</td>
    <button [routerLink]="'/drink-form/' + drink.id">EDIT</button>
    <button *ngIf="isAdmin" (click)="deleteDrink(drink)">DELETE</button>
  </tr>
  </tbody>
</table>

