<table id="datatable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>eMail</th>
    <th>Admin?</th>
    <th>Active?</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users ">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.admin }}</td>
    <td >{{ user.active }}</td>
    <button [routerLink]="'/user-form/' + user.username">EDIT</button>
    <button *ngIf="user.active" (click)="deleteUser(user)">DELETE</button>
    <button *ngIf="!user.active" (click)="activateUser(user)">ACTIVATE</button>
  </tr>
  </tbody>
</table>

