<div *ngIf="isAdmin">
  <table class="table" *ngIf="medias?.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>State</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let media of medias; let i = index;">
      <td><strong>{{ media.originalFileName }}</strong></td>
      <td>{{ media.size / 1024 / 1024 | number }}&nbsp;MB</td>
      <td>
        <span *ngIf="!media.id">Uploading ...</span>
        <span *ngIf="media.id">Successfully Uploaded</span>
      </td>

      <td>
        <img [src]="previews[i] | safeUrl" *ngIf="previews[i]"
             class="img-fluid">
      </td>

      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-success" (click)="downloadMedia(media)">
            Download
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteMedia(media,i)">
            Delete
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <input *ngIf="medias.length < 1" [id]="'field_' + name" type="file" ng2FileSelect [uploader]="uploader"
         [multiple]="true" [accept]="'image/*'"/>
</div>

<div *ngIf="!isAdmin && medias?.length">
  <div *ngFor="let media of medias; let i = index;">
    <img [src]="previews[i] | safeUrl" *ngIf="previews[i]"
         class="img-fluid">
  </div>
</div>
