<div *ngIf="isAdmin">
  <div *ngFor="let media of medias; let i = index;">
    <div class="row">
      <div class="col">
        <strong>{{ media.originalFileName }}</strong>
      </div>
      <div class="col">
        Size: {{ media.size / 1024 / 1024 | number }}&nbsp;MB
      </div>
      <div class="col">
        <span *ngIf="!media.id">Uploading ...</span>
        <span *ngIf="media.id">Successfully Uploaded</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img *ngIf="previews[i]" [src]="previews[i] | safeUrl" alt="image for a drink" class="card-img-bottom"
             style="max-height: 20rem; max-width: 20rem;">
      </div>
      <div class="col"></div>
      <div class="col">
        <div class="btn-group">
          <button (click)="downloadMedia(media)" class="btn btn-outline-success" type="button">
            Download
          </button>
          <button (click)="deleteMedia(media,i)" class="btn btn-outline-danger" type="button">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <input *ngIf="medias.length < 1" [accept]="'image/*'" [id]="'field_' + name" [multiple]="true" [uploader]="uploader"
         ng2FileSelect type="file"/>
</div>

<div *ngIf="!isAdmin && medias?.length">
  <div *ngFor="let media of medias; let i = index;">
    <div class="row">
      <div class="col">
        <img class="card-img-bottom" [src]="previews[i] | safeUrl" *ngIf="previews[i]" alt="image for a drink"
             style="max-height: 20rem; max-width: 20rem;">
      </div>
    </div>
  </div>
</div>
