<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form (ngSubmit)="login()" class="form">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <h1>Bartendr</h1>
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg">
              <input [(ngModel)]="user.username" autocomplete="username" class="form-control" name="username" placeholder="Username"
                     type="text"/>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <input [(ngModel)]="user.password" autocomplete="current-password" class="form-control" name="password"
                     placeholder="Password" type="password"/>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="copyright">
        &copy; {{today | date: 'yyyy'}} Bartendr-Team
      </div>
    </div>
  </footer>
</div>
