<form [formGroup]="locationForm" (ngSubmit)="saveLocation()">

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="name">Location name:</label>
        <input id="name" type="text" name="name" formControlName="name" class="form-control"/>
        <div
          *ngIf="locationForm.controls.name.invalid && (locationForm.controls.name.dirty || locationForm.controls.name.touched)"
          class="alert alert-danger">
          <div *ngIf="locationForm.controls.name.errors.required">
            Name is required.
          </div>
          <div *ngIf="locationForm.controls.name.errors.minlength">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="plusCode">PlusCode:</label>
        <input id="plusCode" type="text" name="plusCode" formControlName="plusCode" class="form-control"/>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          <label for="rating">Rating:</label>
          <rating id="rating" type="text" name="rating" [max]="5" formControlName="rating"></rating>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let drinks of drinkArray">
    Name: <a (click)="navigateToDrink(drinks.id)">{{drinks.name}}</a>
  </div>

  <div class="btn-group" class="row">
    <button type="submit" class="btn btn-primary" [disabled]="locationForm.invalid">
      Save
    </button>
    <button type="submit" (click)="setShouldNavigateToList()" class="btn btn-primary"
            [disabled]="locationForm.invalid">
      Save and Back
    </button>
  </div>
</form>
